<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.cp.testfabric.mapper.FabricMapper">
      <select id="timeSelect" resultType="string">
          select now()
      </select>

      <select id="selectOne" parameterType="Long" resultType="com.cp.testfabric.vo.FabricVO">
        select json from tbl_fabric where fbno = #{fbno}
      </select>

      <select id="getList" resultType="com.cp.testfabric.vo.FabricVO" >
        select * from tbl_fabric where fbno in 
        (1,2,3,4,5,6)
      </select>

  </mapper>