<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/fabric.js"></script>
</head>
<body>
	<canvas id="canvas" width="400" height="400" style="border: 2px solid #000000">
    </canvas>
	<canvas id="canvas2" width="400" height="400" style="border: 2px solid #000000">
    </canvas>
	<div>
		<button id='circle'>circle</button>
		<button id='rect'>rect</button>
		<button id='tri'>tri</button>
		<button id='toJson'>toJson</button>
		<button id='goCanvas'>goCanvas</button>
		<button id='SaveDataToDB'>SaveDataToDB</button>
		<a href="/read?fbno=58"><button id='Read'>Read</button></a>
	</div>


	<!-- JSON, SVG 넣는 곳-->
	<form id="form" method="post">
		<input type="hidden" id="json" name="json">	
		<input type="hidden" id="svg" name="svg">
	</form>


<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
	
		
<script>
		var canvas = new fabric.Canvas('canvas');
		var canvas2 = new fabric.Canvas('canvas2');

		// 0609
		// 이미지 스티커 추가
		fabric.Image.fromURL('/img/mickey.png', function(img){
			
			img.scaleToWidth(200);
			img.scaleToHeight(200);			
			canvas.add(img);
			
			// 애니메이션 효과
			img.animate('left', '+=200', {
				onChange: canvas.renderAll.bind(canvas),
				duration: 1000,
				easing: fabric.util.ease.easeOutBounce 
			});
			
			/* 각도 조절
			img.animate('angle', '+=8', {
				onChange: canvas.renderAll.bind(canvas),
				duration: 1000
			});
			*/
			
		});
		
		
		// gif를 Image로 돌리려고 했더니 안되네
		// ★★★ 이거 말고 sprite 사용해봐야지
		/*
		fabric.Image.fromURL('/resources/img/1.gif', function(img){			
			img.scaleToWidth(200);
			img.scaleToHeight(200);			
			canvas.add(img);
		});
		*/
		
		// gif는 
		
		
		
		// 텍스트 스티커1 추가
		var text1 = new fabric.Text("Mamba Rules!!", {
			fontfamily: "Times New Roman"
		});
		canvas.add(text1);
		
		// 텍스트 스티커2 추가
		var text2 = new fabric.Text("Mamba Rules!!", {
  		stroke: '#ff1318',
  		strokeWidth: 1
		});
		// canvas.add(text2);
		
		// 텍스트 스티커3
		var text3 = ' 동화가\n 되는\n 가족 여행\n';
		var textWithBackground = new fabric.Text(text3, {
  		textBackgroundColor: 'rgb(255,91,93)'
		});
		// canvas.add(textWithBackground);
		
		
		
				
		$("#circle").click(createCircle);
		$("#rect").click(createRect);
		$("#tri").click(createTriangle);

		$("#toJson").click(function() {

			var $form = $("#form");
			var obJSON = canvas.toJSON();

			canvas.loadFromJSON(obJSON);
			console.log(JSON.stringify(obJSON));

			// json을 직렬화해서 form으로 보냄
			// 그럼 controller에 있는 post 맵핑이 받고
			// DB에 insert함
			$("#json").val(JSON.stringify(obJSON));
			$form.submit();

		})
		$("#goCanvas").click(function() {
			canvas2.loadFromJSON(JSON.parse($('#pJSON').text()))
			console.log("goCanvs")
			console.log();
			console.log(this);
		})
		$("#SaveDataToDB").click(function() {

			var $form = $("#form");

			// JSON 처리
			var obJSON = canvas.toJSON();
			canvas.loadFromJSON(obJSON);
			console.log(JSON.stringify(obJSON));

			// SVG 처리
			var obSVG = canvas.toSVG();
			console.log("svg:" + obSVG);
			console.log(typeof(obSVG)); // 이미 String임
			// 콘솔에 찍히는 svg는
			// <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="400" height="400" viewBox="0 0 400 400" xml:space="preserve">
			
			// json은 직렬화해서 form으로 보냄
			$("#json").val(JSON.stringify(obJSON));
			$("#svg").val(obSVG);

			// 그럼 controller에 있는 post 맵핑이 받고
			// DB에 insert함
			$form.submit();
			
		})


		
		function createCircle() {
			canvas.add(new fabric.Circle({
				radius : 30,
				fill : '#f55',
				top : 100,
				left : 100
			}))
		}
		function createRect() {
			canvas.add(new fabric.Rect({
				width : 20,
				height : 30,
				fill : 'red',
				top : 100,
				left : 100
			}));
		}
		function createTriangle() {
			canvas.add(new fabric.Triangle({
				width : 20,
				height : 30,
				fill : 'red',
				top : 100,
				left : 100
			}));
		}
		
		

		
		
		
	</script>

</body>
</html>
