<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/fabric.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .canvas-container{
            display: inline-block;
        }
        .canvas{
            border: 2px solid black;
        }
    </style>
    <div id="canvasDiv">

    </div>
    
    <div>
        <input id="asd" type="text" th:value='${fVo.json}'>
        <button id="readJSON">readJSON</button>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script>
    var fCanvas = new Array();
window.onload = function(){
    
    var $CanvasDiv = $("#canvasDiv");
    console.log($CanvasDiv);
    var newCanvas = document.getElementById("newCanvas")
    for (var i = 1; i <= 4; i++) {
        console.log(i);
        var str = "canvas"+i;
        console.log($CanvasDiv.append("<canvas class ='canvas'></canvas>").children().eq(i-1).attr("id",str));
        fCanvas.push(new fabric.Canvas(str,{width:400,height:400}));
        console.log(fCanvas);
    }


}

    $('#readJSON').click(function(){
        fCanvas[0].loadFromJSON($('#asd').val());
        console.log(fCanvas[0]);
    })

</script>
    
</body>
</html>