<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprite</title>
    <script src="/js/fabric.js"></script>
    <script src="/js/sprite.js"></script>

</head>
<body>
    <canvas id="canvas" width="400" height="400" style="border: 2px solid #000000">
    </canvas>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
        
    <script>

    // sprite 즉시 실행 함수
    (function() {
        var canvas = new fabric.Canvas('canvas');

        fabric.Object.prototype.originX = fabric.Object.prototype.originY = 'center';
        fabric.Object.prototype.transparentCorners = false;

        for (var i = 0, len = 5; i < len; i++) {
        for (var j = 0, jlen = 5; j < jlen; j++) {
        fabric.Sprite.fromURL('/img/sprite.png', createSprite(i, j));
            }
        }

        function createSprite(i, j) {
            return function(sprite) {
                sprite.set({
                left: i * 100 + 50,
                top: j * 100 + 50,
                angle: fabric.util.getRandomInt(-30, 30)
                });
            canvas.add(sprite);
            setTimeout(function() {
            sprite.set('dirty', true);
            sprite.play();
                }, fabric.util.getRandomInt(1, 10) * 100);
            };
        }

        (function render() {
        canvas.renderAll();
        fabric.util.requestAnimFrame(render);
        })();

    })(); // end of 즉시실행함수

    


</script>
    
</body>
</html>